baseURL: "https://dipak-pawar.github.io"
title: Dipak Pawar
paginate: 5
theme: PaperMod

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: true
buildFuture: false
buildExpired: false
enableEmoji: true
# googleAnalytics: UA-123-45

minify:
    disableXML: true
    # minifyOutput: true

languages:
    en:
        languageName: "English"
        weight: 1
        title: Dipak Pawar
#        profileMode:
#            enabled: false
#            title: Dipak
#            # imageUrl: "#"
#            # imageTitle: my image
#            # imageWidth: 120
#            # imageHeight: 120
#            buttons:
#                - name: Blog
#                  url: posts
#                - name: Tags
#                  url: tags

outputs:
    home:
        - HTML
        - RSS
        - JSON

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    description: "Theme PaperMod - https://github.com/adityatelange/hugo-PaperMod"
    author: Dipak Pawar
    # author: ["Me", "You"] # multiple authors

    defaultTheme: auto
    mainSections:
        - posts
    # disableThemeToggle: true
    ShowShareButtons: false
    ShowReadingTime: true
    # disableSpecial1stPost: true
    displayFullLangName: false
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    ShowCodeCopyButtons: true
    ShowToc: true
    # comments: false
    images: ["papermod-cover.png"]

    #    profileMode:
#        enabled: false
#        title: PaperMod
#        imageUrl: "#"
#        imageTitle: my image
#        # imageWidth: 120
#        # imageHeight: 120
#        buttons:
#            - name: Archives
#              url: archives
#            - name: Tags
#              url: tags

    homeInfoParams:
        Title: "Dipak Pawar"
        Content: >
            Computer Engineer having interests in *Infrastructure Engineering*, *Site Reliability Engineering*, *Distributed systems*, *Multi Cloud*, *Testing*, *nix based Systems and Open Source Enthusiast.

    socialIcons:
        - name: github
          url: "https://github.com/dipak-pawar"
        - name: twitter
          url: "https://twitter.com/dipakpwr"
        - name: linkedin
          url: "https://www.linkedin.com/in/dipak-pawar/"

    editPost:
        URL: "https://github.com/dipak-pawar/dipak-pawar.github.io/content"
        Text: "Suggest Changes" # edit text
        appendFilePath: true # to append file path to Edit link

    label:
        text: "Dipak's Blog"
        icon: /logo.png
        iconHeight: 40

    assets:
        disableFingerprinting: true
    # analytics:
    #     google:
    #         SiteVerificationTag: "XYZabc"

    # assets:
    #     favicon: "<link / abs url>"
    #     favicon16x16: "<link / abs url>"
    #     favicon32x32: "<link / abs url>"
    #     apple_touch_icon: "<link / abs url>"
    #     safari_pinned_tab: "<link / abs url>"

    # cover:
    #     hidden: true # hide everywhere but not in structured data
    #     hiddenInList: true # hide on list pages and home
    #     hiddenInSingle: true # hide on single page

    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]

taxonomies:
    archive: archives
    tags: tags
    about: about
    search: search

markup:
    goldmark:
        renderer:
            unsafe: true
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         # noClasses: false
#         style: monokai

privacy:
    vimeo:
        disabled: false
        simple: true

    twitter:
        disabled: false
        enableDNT: true
        simple: true

    instagram:
        disabled: false
        simple: true

    youtube:
        disabled: false
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true

menu:
    main:
        - identifier: about
          name: About
          url: /about/
          weight: 10
        - identifier: search
          name: Search
          url: /search/
          weight: 20
        - identifier: Archive
          name: archives
          url: /archives/
          weight: 30
        - identifier: tags
          name: Tags
          url: /tags/
          weight: 10
